menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu

menu "NRF_TEST"
  menu "Bluetooth"
    config GATT_0X1801_CLIENT
      bool "GATT_0X1801_CLIENT"
      default y
  endmenu
  menu "Logging"
    module = NRF_TEST
    module-str = NRF_TEST
    source "subsys/logging/Kconfig.template.log_config"

    module = NRF_TEST_BLE
    module-str = NRF_TEST_BLE
    source "subsys/logging/Kconfig.template.log_config"
  endmenu
endmenu